<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.natefikru.mindlore</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mindlore</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.natefikru.mindlore.record</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Record</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>mic</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.natefikru.mindlore.new</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Entry</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>square.and.pencil</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.natefikru.mindlore.ask</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Ask</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>bubble.left.and.bubble.right</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
